/*
global
*/

body {
    display: flex;
    flex-direction: column;
    font-family: "roboto", sans-serif;
    margin: 0;
}

img {
    max-width: 100%;
    width: 100px;
}

button {
    border-radius: 8px;
    border: none;
    color:#F9FAF8;
    background-color: #3882F6;
    width: 100px;
    height: 30px
}

/*
HEADER PORTION
*/
.header {
    display: flex;
    flex-direction: row;

    justify-content: space-around;
    align-items: center;
    gap: 1180px;

    padding-left: 30px;
    padding-right: 30px;
    background-color: #1F2937;
}

.title {
    font-size: 24px;
    color: #F9FAF8;
}

.right {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.links {
    color: #E5E7EB;
    text-decoration: none;
}

/*
IMAGE PORTION
*/

.pic-section {
    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;
    gap: 90px;

    padding-top: 100px;
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 150px;

    background-color: #1F2937;
}

.caption {
    display: flex;
    flex-direction: column;
    flex: 3;
}

.hero {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bold;
}

.desc {
    color: #E5E7EB;
    font-size: 18;

    margin-top: -20px;
}

.front {
    flex: 2;

}



/*
INFO PORTION
*/

.info-header {
    display: flex;
    flex-direction: row;

    justify-content: center;

    padding-top: 70px;
    padding-bottom: 40px;
    font-size: 36px;
    color: #1F2937;
    background-color: white;
    text-decoration: underline;

}

.info-section {


    gap: 60px;
    padding-bottom: 150px;
    color: #1F2937;
    background-color: white;
}

.card {

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 40px;

}

.info-img {

    width: 400px;
    border: #3882F6 solid 3px;
    border-radius: 10%;
    height: 350px;
    margin-bottom: 30px;

}



.info {
    text-align: center;
    background-color: #3882F6;
    padding: 30px;
    border-radius: 5px;
    color: white;
}

.testimonial-section {
    display: flex;
    flex-direction: column;

    align-items: center;

    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #E5E7EB;
}

.quote {
    display: flex;
    justify-content: center;
    
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    padding-left: 50px;


}
.attribution {
    display: flex;
    justify-content: center;
    padding-left: 1565px;

    font-size: 23px;
}

/*
C2A PORTION
*/

.call-to-action-section {
    display: flex;
    flex-direction: row;

    justify-content: space-around;
    align-items: center;

    margin-left: 400px;
    margin-right: 400px;
    margin-top: 70px;
    margin-bottom: 70px;;

    background-color: #3882F6;
    border-radius: 10px;
    padding-bottom: 10px;
}

.call-left {
    display: flex;
    flex-direction: column;
    justify-content: center;

    gap: -34px;
}

.c2a-head {
    font-style: bold;
    color: #F9FAF8;
    font-size: 23px;
    margin-bottom: -10px;
}

.c2a-desc {
    color: #E5E7EB;
    font-style: italic;
    font-size: 13px;
}

.c2a-button {
    border: #F9FAF8 solid 3px;
    border-radius: 5px;
    width: 105px;
    height: 38px;

    font-style: bold;

    margin-top: 10px;

}

/*
FOOTER PORTION
*/

.footer {
    text-align: center;
    color: #E5E7EB;
    background-color: #1F2937;
}

